ydata-profiling==4.0.0
statsmodels==0.13.5
statsmodels==0.13.2
skimpy==0.0.8
Shapely==2.0.1
seaborn==0.11.2
scipy==1.10.1
scipy==1.10.0
scipy==1.9.3
scipy==1.9.1
scikit-posthocs==0.7.0
scikit-learn==1.2.2
scikit-learn==1.2.1
scikit-learn==1.2.0
scikit-learn==1.0.2
rpy2==3.5.6
pyjanitor==0.23.1
pingouin==0.5.3
pandas==2.0.0
pandas==1.5.3
pandas==1.5.2
pandas==1.4.4
pandas_flavor==0.5.0
pandas_flavor==0.2.0
numpy==1.24.2
numpy==1.23.5
numpy==1.21.6
numpy==1.21.5
nbqa==1.5.3
mlxtend==0.21.0
missingno==0.4.2
matplotlib==3.7.1
matplotlib==3.7.0
matplotlib==3.6.3
matplotlib==3.6.2
matplotlib==3.5.2
jupyter==1.0.0
ipython==8.12.0
ipython==7.33.0
ipython==7.31.1
ipykernel==6.21.2 
geopandas==0.12.2
black==22.10.0